body{
    font-family: 'Acme', sans-serif;
}

/* width */
*::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
*::-webkit-scrollbar-track {
    background-color: #7977e97a;
    border-radius: 10px;
}
   
  /* Handle */
*::-webkit-scrollbar-thumb {
    background: #5c46c0; 
    border-radius: 10px;
}
  
  /* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #633180; 
}
.bg{
    background: linear-gradient(180deg, #a09cd9 0%, #50398a 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    position: relative;
    height: 99.8vh;
    width: 99.8vw;
    background-color: #241b3f;
    border-radius: 10px 10px 0 0;
}

.header{
    background-color: #433a6c;
    height: 10%;
    width: 100%;
    border-radius: 10px 10px 0  0;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.nav-ul{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-li{
    color: #cdc8ee;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.nav-li:hover{
    color: #fff;
    font-size: 18px;
}
.nav-icons{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heart-icon, .chat-icon, .cart-icon, .profile-name{
    color: #fff;
}
.heart-icon:hover{
    color: #be3d3d;
    transform: scale(1.5);
    transition-duration: 0.5s;
}
.chat-icon:hover{
    color: #d3d34b;
    transform: scale(1.5);
    transition-duration: 0.5s;}
.cart-icon:hover{
    color: #627a32;
    transform: scale(1.5);
    transition-duration: 0.5s;}
.profile-img-cont{
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
}
.active-icon{
    color: #74dec2;
    position: absolute;
    right: 3px;
    font-size: 11px;
    top: 0;
}
.offline-icon{
    position: absolute;
    right: 3px;
    font-size: 11px;
    top: 0;
    color: #be3d3d;
    visibility: hidden;
}
.profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #7c71c0;
}
.active-cont{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 42px;
    cursor: pointer;
}
.online{
    color: #74dec2;
    border: 1px solid #74dec2;
    padding: 2px 5px;
    margin-bottom: 1px;
    border-radius: 5px;
}
.online:hover{
    background-color: #74dec2;
    color: #fff;
}
.offline{
    color: #d35757;
    border: 1px solid #d35757;
    padding: 2px 5px;    
    border-radius: 5px;
}
.offline:hover{
    background-color: #d35757;
    color: #fff;
}
.search-sec{
    width: 100%;
    height: 6%;
    background-color: #342b58;
    display: flex;
    align-items: center;
    position: relative;
}
.search{
    width: 20%;
    height: 30px;
    background-color: #373159;
    border: 1px solid #534d7c;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    left: 20px;
    z-index: 1;
}
.act-key{
    position: absolute;
    z-index: 1;
    right: 40px;
    width: 100px;
    height: 35px;
    background: linear-gradient(90deg, #4d4580 0%, #413466 100%);
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}
.main-content{
    position: relative;
    width: 100%;
    height: 77%;
    display: flex;
}
.aside-cont{
    position: relative;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
/* width */
.aside-cont::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
.aside-cont::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
  /* Handle */
.aside-cont::-webkit-scrollbar-thumb {
    background: #42396b; 
    border-radius: 10px;
}
  
  /* Handle on hover */
.aside-cont::-webkit-scrollbar-thumb:hover {
    background: #c05353; 
}
.ag-cont, .fg-cont{
    position: relative;
    z-index: 3;
}
.fav-games{
    width: 100%;
    position: relative;
}
.f-g,.all-games{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #89879e;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #483c72;
    width: 100%;
    height: 40px;
    border-radius: 0 5px 5px 0;
}
.fg-numbers,.all-numbers{
    background-color: #625995;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    right: 50px;
}
.aside-icon{
    position: absolute;
    left: 20px;
}
.arrow{
    position: absolute;
    right: 20px;
    transition-duration: 0.5s;
    cursor: pointer;
}
.active-arrow{
    transform: rotate(-90deg);
}
.dn{
    display: none;
}
.fg-list,.ag-list{
    background-color: #342e56;
    border-radius: 7px;
}
.fg-li, .ag-li{
    color: #fff;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #342e56;
    cursor: pointer;
}
.fg-li:hover{
    background-color: #7c71c0;
}
.ag-li:hover{
    background-color: #7c71c0;
}
.game-icons{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    position: absolute;
    left: 7px;
}
#c-2077-fg{
    background-color: #2a2447;
}
.game-content{
    height: 100%;
    width: 80%;
    position: relative;
    top: 0;
    left: 0%;
    overflow-y: scroll;
}
.about-game{
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
}
.game-mp{
    margin-left: 40px;
    height: 200px;
    width: 180px;
    border-radius: 8px;
}
.game-info{
    position: relative;
    height: 200px;
    width: 220px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.ab-g-name{
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
}
.played-hours,.last-played{
    font-size: 18px;
    color: #b1afb8;
    margin-top: 15px;
}
.hours,.lp-day{
    color: #fff;
}
.play-cont{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: safe;
}
.play-button{
    padding: 12px 40px;
    background-color:#6143f2;
    border-radius: 6px;
    color: #fff;
}
.cog-icon{
    background-color: #312655;
    color: #fff;
    padding: 12px;
}
.game-nav{
    width: 90%;
    height: 50px;
    background-color: #2f234e;
    border-radius: 8px;
    position: relative;
    left: 40px;
    display: flex;
    align-items: center;
}
.gn-ul{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #8583a6;
}
.gn-li{
    padding: 5px 15px;
    border-radius: 5px;
    transition-duration: 0.5s;
    cursor: pointer;
}
.gn-li:hover{
    color: #fff;
    border: 1px solid #8583a6;
    background-color: #3b2f58;
}
.ab-g-content{
    margin: 30px 0 30px 40px;
    width: 90%;
    height: 450px;
    display: flex;
    justify-content: space-between;
}
.game-slides{
    height: 100%;
    width: 65%;
    background-color: tomato;
}
.g-fa-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 33%;
}
.friends-wp{
    width: 100%;
    height: 200px;
    background-color: #2a224b;
    border-radius: 8px;
    position: relative;
}
.fw-p{
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
}
.p-playing,.p-recently{
    margin-top: 10px;
    margin-left: 20px;
    color: #86849b;
}
.p-active,.recently-cont{
    margin-top: 10px;
    margin-left: 20px;
}
.active-player{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid #2b7519;
}
.recently-played{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid #696767;
}
.achievements{
    width: 100%;
    height: 240px;
    background-color: #2a224b;
    border-radius: 8px;
    position: relative;
}
.ach-p{
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
}
.cup-cont{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}
.cup-icon{
    color: #8c86c2;
    margin-right: 15px;
}
.ach-pro{
    color: #8c86c2;
}
.ach-p-part{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #8c86c2;
}
.w-load-ach{
    width: 285px;
    height: 10px;
    background-color: #322a5a;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 12px;
}
.ach-part{
    background-color: #4d42a8;
    width: 73%;
    height: 100%;
    border-radius: 12px;
}
.footer{
    width: 100%;
    height: 7%;
    background-color: #322a57;
    border-bottom: 1px solid #a09cd9;
    border-radius: 0 0 5px 5px;
}

