body {
  font-family: "Acme", sans-serif;
  overflow-x: hidden;
}

/* width */
*::-webkit-scrollbar {
  width: 7px;
}

/* Track */
*::-webkit-scrollbar-track {
  background-color: #7977e97a;
  border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #5c46c0;
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #633180;
}
.st-header {
  background-color: #433a6c;
  height: 70px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.burger-icon{
  font-size: 30px;
  color: #4019a1;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
  display: none !important;
  z-index: 10;
}
.side-nav{
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 200px;
  height: 100vh;
  background-color: #534d7cdc;
  position: absolute;
  left: 0;
  z-index: 3;
  transition-duration: 0.5s;
  transform: translateX(-100%);
}
.sn-ul{
  margin-top: 40px;
  margin-left: 20px;
}
.sn-li{
  margin-top: 20px;
}
.sn-a{
  font-weight: bolder;
  color: #e2dde7;
  transition-duration: 0.6s;
}
.sn-a:hover{
  color: #10062c;
}
.side-nav-active{
  transform: translateX(0);
}
.active-burger{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 22px;
  color: #c56767;
  transition-duration: 0.5s;
}
.active-burger:hover{
  color: #a04444;
  transform: scale(1.2);
}
.profile-empty-img-cont {
  width: 40px;
  height: 40px;
  background-color: #8f8f91;
  border: 2px solid #5a5b5f;
  border-radius: 50px;
  margin-left: 50px;
}
.slides-sec {
  width: 100%;
  height: 100vh;
  background-color: #241b3f;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.at-slider {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 30px 0px #695796;
  border-radius: 12px;
}
.slider-item {
  position: relative;
  z-index: 1;
  width: 90vw;
  height: 90vh;
  border-radius: 12px;

}
.slider-item-btn-cont{
  position: absolute;
  z-index: 2;
  top: 65%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.slider-item-btn-cont a{
  padding: 9px 21px;
  border-radius: 10px;
  transition-duration: 0.5s;
  white-space: nowrap;
}
.st-page{
  background-color: #6db403;
  margin-right: 10px;
  right: 0;
}
.wt{
  left: 0;
  background-color: #f35f29;
}
.wt:hover{
  color: #fff;
  box-shadow: -1px -1px 32px 0px #f35f29;
  background-color: #a81400;
  transform: scale(1.2);
  -webkit-transform:scale(1.2);
}
.st-page:hover{
  box-shadow: -1px -1px 32px 0px #6db403;
  background-color: #3f5e10;
  color: #fff;
  transform: scale(1.2);
  -webkit-transform:scale(1.2);
}
.slider-game-info{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  top: 20%;
}
.slider-game-cont{
  background-color: #9471d6c2;
  border-radius: 8px;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.price-store{
  margin-left: 15px;
  display: flex;
  position: absolute;
  bottom: 10px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid white;
}
.st-price{
  color: #f8e262 !important;
  margin-left: 5px;
  margin-right: 10px;
}
.st-store{
  padding: 5px 12px;
  background-color: #488b48;
  padding: 4px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.st-store:hover{
  background-color: #0b8a0b;
  color: #f15bf1;
}
.sgi-img img{
  height: 250px;
  border-radius: 12px;
}
.sgi-info{
  position: relative;
}
.rd{
  margin-top: 20px;
}
.slider-game-info p{
  color: #fff;
}
.slider-game-info p span{
  color: #c56767;
}
.slider-gi-name{
  position: absolute;
  top: 0;
  left: 10px;
  color: #fddddd;
  font-size: 18px;
  white-space: nowrap;
}
.game-genre{
  display: flex;
  flex-wrap: wrap;
}
.game-genre span{
  padding: 3px 8px;
  background-color: #42396b;
  color: #fff;
  border-radius: 5px;
}
.slick-next,
.slick-prew {
  display: none;
}
.slide-img {
  width: 100%;
  height: 100%;  
  border-radius: 12px;
}
.slider-for{
  width: 100%;
  height: 70%;
}
.slider-nav{
  width: 100%;
  height: 30%;
}
.slider-nav-item img{
  width: 100%;
  height: 100%;
}
.auth-cont {
  display: flex;
  align-items: center;
}
.sign-up-cont {
  width: 100vw;
  height: 100vh;
  background-color: #241b3fb6;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition-duration: 0.3s;
}
.sign-up-cont-active {
  transform: translateY(0);
}
.sign-up-form-cont {
  background-color: #2d214c;
  border-radius: 12px;
  width: 60vw;
  height: 80vh;
  position: relative;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 40px;
  left: 20%;
  line-height: 10px;
  width: 40%;
}
.x-for-exit {
  position: absolute;
  top: 5%;
  right: 5%;
  color: #fff;
  font-size: 25px;
  padding: 2px 5px;
  border-radius: 10px;
  transition-duration: 0.7s;
  cursor: pointer;
}
.x-for-exit:hover {
  color: #d15d5d;
  border: 1px solid #d15d5d;
}
.su-input {
  width: 100%;
  height: 30px;
}
#birthday {
  width: 130px;
}
.sign-up-button {
  background-color: #4019a1;
  color: #aca9bb;
  padding: 5px 12px;
  width: 120px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.5s;
  cursor: pointer;
}
.sign-up-button:hover {
  background-color: #4b3b92;
  color: #fff;
}
.sign-in-cont {
  position: absolute;
  top: 0;
  right: 0;
  height: 350px;
  width: 280px;
  background-color: #2d214c;
  border-radius: 10px 0 0 10px;
  transition-duration: 0.7s;
  transform: translateX(100%);
  z-index: 2;
}
.sign-in-active {
  transform: translateX(0);
}
.sign-in-form {
  color: #6140f2;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
}
.si-inp {
  height: 30px;
  width: 80%;
  background-color: #bba8e9;
  margin-top: 5px;
}
.sign-in-s {
  background-color: #6140f2;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  position: absolute;
  bottom: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.5s;
}
.sign-in-s:hover {
  background-color: #a694f8;
  color: #2d214c;
}
.sign-up,
.sign-in {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.sign-up {
  background-color: #2d214c;
  color: #6140f2;
}
.sign-up:hover {
  background-color: #4b3b92;
  color: #fff;
}
.sign-in {
  background-color: #6140f2;
  color: #fff;
}
.sign-in:hover {
  background-color: #a694f8;
  color: #2d214c;
}
.st-footer {
  width: 100%;
  height: 40px;
  background-color: #322a57;
  border-bottom: 1px solid #a09cd9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.bg {
  background: linear-gradient(180deg, #a09cd9 0%, #50398a 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  position: relative;
  height: 99.8vh;
  width: 99.8vw;
  background-color: #241b3f;
  border-radius: 10px 10px 0 0;
  overflow-y: hidden;
}

.header {
  background-color: #433a6c;
  height: 10%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.store-header{
  height: 60px;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.burger-icon-l{
  font-size: 30px;
  color: #944bd8;
  display: none !important;
}
.nav-ul {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-a {
  color: #cdc8ee;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.nav-active {
  color: #fff;
  border-bottom: 1px solid #4d42a8;
  transition-duration: 0.5s;
}
.nav-active:hover {
  color: #cdc8ee;
}
.nav-a:hover {
  color: #fff;
  font-size: 18px;
}
.nav-icons {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heart-icon,
.chat-icon,
.cart-icon,
.profile-name {
  color: #fff;
  cursor: pointer;
}
.heart-icon:hover {
  color: #be3d3d;
  transform: scale(1.5);
  transition-duration: 0.5s;
}
.chat-icon:hover {
  color: #d3d34b;
  transform: scale(1.5);
  transition-duration: 0.5s;
}
.cart-icon:hover {
  color: #627a32;
  transform: scale(1.5);
  transition-duration: 0.5s;
}
.profile-img-cont {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
}
.active-icon {
  color: #74dec2;
  position: absolute;
  right: 3px;
  font-size: 11px;
  top: 0;
}
.offline-icon {
  position: absolute;
  right: 3px;
  font-size: 11px;
  top: 0;
  color: #be3d3d;
  visibility: hidden;
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #7c71c0;
}
.active-cont {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 42px;
  cursor: pointer;
}
.online {
  color: #74dec2;
  border: 1px solid #74dec2;
  padding: 2px 5px;
  margin-bottom: 1px;
  border-radius: 5px;
}
.online:hover {
  background-color: #74dec2;
  color: #fff;
}
.offline {
  color: #d35757;
  border: 1px solid #d35757;
  padding: 2px 5px;
  border-radius: 5px;
}
.offline:hover {
  background-color: #d35757;
  color: #fff;
}
.search-sec {
  width: 100%;
  height: 6%;
  background-color: #342b58;
  display: flex;
  align-items: center;
  position: relative;
}
.search-form {
  position: relative;
  left: 20px;
  width: 20%;
  height: 70%;
  display: flex;
  align-items: center;
}
.search {
  width: 100%;
  height: 100%;
  background-color: #373159;
  border: 1px solid #534d7c;
  border-radius: 5px;
  color: #fff;
}
.search-icon {
  margin-left: 25px;
  font-size: 14px;
  color: #9696ad;
  padding: 4px;
  background-color: #7d789b88;
  border-radius: 4px;
  border: 1px solid #423d63;
  cursor: pointer;
  transition-duration: 1s;
}
.search-icon:hover {
  background-color: #524886;
}
.act-key {
  position: absolute;
  z-index: 1;
  right: 40px;
  width: 100px;
  height: 90%;
  background: linear-gradient(90deg, #4d4580 0%, #413466 100%);
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  transition-duration: 1s;
}
.act-key:hover {
  background: #4d4580;
}

.main-content {
  position: relative;
  width: 100%;
  height: 77%;
  display: flex;
}
.aside-cont {
  position: relative;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}
/* width */
.aside-cont::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.aside-cont::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.aside-cont::-webkit-scrollbar-thumb {
  background: #42396b;
  border-radius: 10px;
}

/* Handle on hover */
.aside-cont::-webkit-scrollbar-thumb:hover {
  background: #c05353;
}
.ag-cont,
.fg-cont {
  position: relative;
  z-index: 3;
}
.fav-games {
  width: 100%;
  position: relative;
}
.f-g,
.all-games {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #89879e;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #483c72;
  width: 100%;
  height: 40px;
  border-radius: 0 5px 5px 0;
}
.fg-numbers,
.all-numbers {
  background-color: #625995;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  position: absolute;
  right: 50px;
}
.game-name {
  position: absolute;
  left: 50px;
}
.aside-icon {
  position: absolute;
  left: 20px;
}
.arrow {
  position: absolute;
  right: 20px;
  transition-duration: 0.5s;
  cursor: pointer;
}
.active-arrow {
  transform: rotate(-90deg);
}
.dn {
  display: none;
}
.fg-list,
.ag-list {
  background-color: #342e56;
  border-radius: 7px;
}
.fg-li,
.ag-li {
  color: #fff;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #342e56;
  cursor: pointer;
}
.fg-li:hover {
  background-color: #7c71c0;
}
.ag-li:hover {
  background-color: #7c71c0;
}
.game-icons {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  position: absolute;
  left: 7px;
}
#c-2077-fg {
  background-color: #2a2447;
}
.game-content {
  height: 100%;
  width: 80%;
  position: relative;
  top: 0;
  left: 0%;
  overflow-y: scroll;
}
.about-game {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
}
.game-mp {
  margin-left: 40px;
  height: 200px;
  width: 180px;
  border-radius: 8px;
}
.game-info {
  position: relative;
  height: 200px;
  width: 220px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.show-games{
  color: #fff;
  padding: 8px 15px;
  background-color: #312655;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: none;

}
.ab-g-name {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}
.played-hours,
.last-played {
  font-size: 18px;
  color: #b1afb8;
  margin-top: 15px;
}
.hours,
.lp-day {
  color: #fff;
}
.play-cont {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: safe;
}
.play-button {
  padding: 12px 40px;
  background-color: #6143f2;
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
}
.cog-icon {
  background-color: #312655;
  color: #fff;
  padding: 12px;
}
.game-nav {
  width: 90%;
  height: 50px;
  background-color: #2f234e;
  border-radius: 8px;
  position: relative;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gn-ul {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #8583a6;
}
.gn-li {
  padding: 5px 15px;
  border-radius: 5px;
  transition-duration: 0.5s;
  cursor: pointer;
  white-space: nowrap;
}
.gn-li:hover {
  color: #fff;
  border: 1px solid #8583a6;
  background-color: #3b2f58;
}
.ab-g-content {
  margin: 30px 0 30px 40px;
  width: 90%;
  height: 450px;
  position: relative;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.game-slides {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
}
.g-fa-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 33%;
  margin-left: 28px;
}
.friends-wp {
  width: 100%;
  height: 200px;
  background-color: #2a224b;
  border-radius: 8px;
  position: relative;
}
.fw-p {
  color: #fff;
  margin-top: 10px;
  margin-left: 20px;
}
.p-playing,
.p-recently {
  margin-top: 10px;
  margin-left: 20px;
  color: #86849b;
}
.p-active,
.recently-cont {
  margin-top: 10px;
  margin-left: 20px;
}
.active-player {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid #2b7519;
}
.recently-played {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid #696767;
}
.achievements {
  width: 100%;
  height: 240px;
  background-color: #2a224b;
  border-radius: 8px;
  position: relative;
}
.ach-p {
  color: #fff;
  margin-top: 10px;
  margin-left: 20px;
}
.cup-cont {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
}
.cup-icon {
  color: #8c86c2;
  margin-right: 15px;
}
.ach-pro {
  color: #8c86c2;
}
.ach-p-part {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #8c86c2;
}
.w-load-ach {
  width: 80%;
  height: 10px;
  background-color: #322a5a;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 12px;
}
.ach-part {
  background-color: #4d42a8;
  width: 73%;
  height: 100%;
  border-radius: 12px;
}
.store-content{
  width: 100%;
  height: 1200px;
  background-color: #241b3f;
}
.store-sec{
  width: 100%;
  position: relative;
  display: flex;
}
.left-nav{
  position: relative;
  left: 0;
  top: 0;
  border-right: 1px solid white;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ln-ul{
  margin-top: 18px;
  margin-left: 10px;
  margin-right: 5px;
  color: #fff;
  width: 140px;
}
.ln-li{
  font-size: 14px;
  color: #ab9ee7;
  margin-top: 10px;
  transition-duration: 0.3s;
  cursor: pointer;
}
.ln-li:hover{
  color: #e3dcfd;
}
.ln-li-icons{
  color: #5a15da;
  background-color: #ab9ee7;
  font-size: 10px;
  padding: 2px;
  border-radius: 3px;
  margin-right: 5px;
}
.store-part{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.store-nav{
  position: relative;
  display: flex;
  align-items: center;
  top: 50px;
  width: 500px;
  height: 30px;
  border-radius: 8px;
  background: linear-gradient(90deg,#452e5c, #310958);
}
.st-ul{
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
}
.st-li{
  padding: 7px 12px;
  cursor: pointer;
  color: #cc93f1;
  transition-duration: 0.5s;
  border-radius: 10px;
}
.st-li:hover{
  color: #b69fc6;
  background: linear-gradient(90deg,#7139a5, #4d019900);
}
.search-st {
  width: 150px;
  height: 80%;
  background-color: #373159;
  border: 1px solid #534d7c;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  right: 35px;
  top: 2.5px;
}
.search-icon-st{
  position: absolute;
  right: 10px;
  margin-left: 25px;
  font-size: 14px;
  color: #9696ad;
  padding: 4px;
  background-color: #7d789b88;
  border-radius: 4px;
  border: 1px solid #423d63;
  cursor: pointer;
  transition-duration: 1s;
}
.search-icon-st:hover {
  background-color: #524886;
}
.fet-rec-cont{
  position: relative;
  top: 120px;
  right: 7%;
  width: 80%;
  height: 320px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 24px;
}
.fet-rec-slider{
  width: 100%;
  box-shadow: 0 0 18px 9px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 0 18px 9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 18px 9px rgba(0,0,0,0.75);
} 
.fr-slider-item{
  width: 100%;
  height: 100%;
}
.fr-row{
  display: flex;
}

.fr-main-img{
  height: 320px;
  width: 70%;
}
.fr-main-img img{
  width: 100%;
  height: 100%;
}
.fr-info{
  position: relative;
  width: 30%;
  background: #3d3955;
  background: linear-gradient(150deg, #3d3955 0%, #17132e);
  border-radius: 0 8px 8px 0;
  border: 1px solid rgba(255, 252, 252, 0.548);
  border-left: none;
}
.slick-next{
  right: -2.3%;
}
.slick-prev{
  left: -3.5%;
}
.slick-prev:before, .slick-next:before {
  color: #3b2f58;
  background-color: #4d42a8;
  padding: 21px 5px;

}
.slick-dots li button:before,
li.slick-active button:before {
}
.slick-dots li button:before{
  background-color: transparent;
  border: 1px solid #8296ee;
  display: inline-block;
  height: 8px;
  width: 15px;
}
.slick-dots li button:before{
  color: #17132e00;
  background-color: #42394b;
}
.slick-dots  li.slick-active button:before {
  background-color: #850ed4;
  color: #0076b500;
}
.fr-info-imgs{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.fr-info-imgs img{
  width: 45%;
  height: 80px;
}
.fr-info h2{
  margin-top: 5px;
  font-size: 26px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.fr-info h3{
  margin-top: 10px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}
.fr-info h5{
  font-size: 14px;
  padding: 3px 10px;
  background-color: #828494;
  width: fit-content;
  border-radius: 4px;
  margin-left: 10px;
}
.fr-info p {
  font-size: 15px;
  color: #2b7519;
  margin-left: 10px;
  position: absolute;
  bottom: 10px;
  font-weight: bolder;
}
.special-offers{
  position: relative;
  top: 230px;
  right: 7%;
  width: 80%;
  height: 420px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: rgb(97,80,196);
  background: linear-gradient(321deg, rgba(97,80,196,1) 0%, rgba(25,5,45,1) 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.special-offers h1 {
  position: absolute;
  top: -30px;
  left: 0;
  color: #fff;
  font-size: 22px;
}
.sf-item{
  position: relative;
  width: 32%;
  height: 48%;
  box-shadow: 0 0 18px 9px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 0 18px 9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 18px 9px rgba(0,0,0,0.75);
  background: rgb(139,133,172);
  background: linear-gradient(167deg, rgba(139,133,172,1) 0%, rgba(55,10,97,1) 100%);
}
.sf-img{
  width: 100%;
  height: 70%;
}
.sf-img img{
  width: 100%;
  height: 100%;
}
.sf-prices{
  display: flex;
  position: absolute;
  bottom: 4px;
  right: 8px;
  width: 90px;
  height: 15%;
  background-color: #1d0f30;
  border-radius: 5px;
}
.sf-item h6{
  font-size: 20px;
  margin-top: 5px;
}
.sf-percent{
  background-color: #4f6930;
  color: #5dce5d;
  font-size: 16px;
  font-weight: bolder;
  padding: 0 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
}
.n-o-price{
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.old-p{
  font-size: 10px;
  text-decoration:line-through;
}
.new-p{
  font-size: 14px;
}
.browse-store{
  position: relative;
  background-color: #39167a75;
  width: 60%;
  height: 50px;
  right: 7%;
  top: 300px;
  box-shadow: 0 0 18px 9px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 0 18px 9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 18px 9px rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.browse-store p{
  width: 23%;
  height: 100%;
  background: rgb(108,83,251);
  background: linear-gradient(95deg, #6c53fb 0%, #46127e 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #cc8097;
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bolder;
}
.browse-store p:hover{
  background: rgb(108,83,251);
  background: linear-gradient(95deg, rgba(108,83,251,1) 0%, rgba(72,41,106,1) 100%);
}
.footer {
  width: 100%;
  height: 7%;
  background-color: #322a57;
  border-bottom: 1px solid #a09cd9;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.store-footer{
  height: 40px;
}
.footer-icons {
  position: absolute;
  right: 100px;
}
.copyright {
  color: #fff;
}
.github-icon {
  color: #6e5494;
  font-size: 25px;
  margin-right: 20px;
}
.linkedin-icon {
  color: #0077b5;
  font-size: 25px;
}
.github-icon:hover {
  animation: fi-move 2s;
}
.linkedin-icon:hover {
  animation: fi-move 2s;
}
@keyframes fi-move {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.1);
  }
  66% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1300px) {
  .recently-cont{
    display: flex;
    flex-wrap: wrap;
  }
  .achievements{
    height: 170px;
  }
  .friends-wp{
    height: 240px;
  }
}
@media screen and (max-width: 1200px) {
  .gn-li {
    padding: 4px 14px;
    border-radius: 5px;
    font-size: 13px;
  }
}
@media screen and (max-width: 1024px) {
  .aside-cont{
    transform: translateX(-100%);
    transition-duration: 0.3s;
    position: absolute;
    z-index: 10;
    width: 200px;
  }
  .aside-cont-show{
    transform: translateX(0);
  }
  .game-content{
    width: 100%;
    position: absolute;
    left: 0;
  }
  .show-games{
    display: flex;
  }
}
@media  screen and (max-width: 960px) {
  .nav-ul{
    display: none;
  }
  .auth-cont{
    position: absolute;
    right: 100px;
  }
  .burger-icon{
    display: flex !important;
  }
  .burger-icon-l{
    display: flex !important;
  }
  .nav-icons{
    width: 250px;
  }
  .gn-ul{
    width: 90%;
  }

}
@media screen and (max-width: 900px) {
  .left-nav{
    position: absolute;
    transform: translateX(-100%);
  }
  .fet-rec-cont,.special-offers{
    width: 90%;
    right: unset;
  }
}
@media screen and (max-width: 800px) {
  .achievements{
    display: flex;
    flex-direction: column;
  }
  .ach-p-part{
    position: static;
    margin: 10px 0 10px 20px;
  }
  .browse-store p{
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  .recently-played,.active-player{
    width: 30px;
    height: 30px;
  }
  .gn-ul{
    width: 100%;
  }
  .slider-for{
    height: unset;
  }
  .fr-info h2{
    font-size: 15px;
  }
  .fr-info h3{
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  .game-info{
    height: 170px;
    margin-top: 20px;
  }
  .game-mp{
    margin-top: 20px;
    width: 150px;
    height: 170px;
  }
  .ab-g-name{
    font-size: 22px;
  }
  .game-info p{
    font-size: 14px;
  }
  .play-button{
    padding: 8px 30px; 
  }
  .game-slides{
    width: 50%;
  }
  .g-fa-cont{
    margin: 0;
    width: 45%;
  }
  .game-nav{
    height: 40px;
  }
  .fr-main-img{
    height: 250px;
  }
  .fr-info p{
    right: 2px;
    font-size: 12px;
    bottom: 12px;
  }
  .special-offers{
    height: 320px;
  }
  .sf-item h6{
    font-size: 14px;
  }
  .browse-store p{
    font-size: 12px;
  }
  .browse-store{
    height: 35px;
    width: 300px;
  }
  .fr-info-imgs img{
    height: 70px;
  }
}
@media screen and (max-width: 500px) {
  .auth-cont{
    position: relative;
    right: 0px;
  }
  .footer-icons{
    right: 20px;
    font-size: 20px;
  }
  .gn-li{
    padding: 3px 8px;
    font-size: 10px;
  }
  .ab-g-content{
    height: 360px;
  }
  .ab-g-content,.game-mp{
    margin-left: 20px;
  }
  .game-nav{
    left: 20px;
  }
  .recently-played,.active-player{
    width: 20px;
    height: 20px;
  }
  .friends-wp{
    height: 180px;
  }
  .store-nav{
    width: 90%;
  }
  .st-li{
    font-size: 10px;
  }
  .search-st{
    width: 80px;
  }
  .fr-info h3{
    margin-top: 2px;
  }
  .fr-info-imgs img{
    height: 60px;
  }
  .sf-prices{
    width: 60px;
    bottom: 1px;
  }
  .sf-percent{
    font-size: 12px;
    padding: 0 2px;
  }
  .new-p{
    font-size: 9px;
  }
  .old-p{
    font-size: 7px;
  }
  .browse-store{
    left: 5%;
  }
  .slider-game-cont{
    width: 100%;
  }
  .price-store{
    transform: translateX(-120%);
  }
  .slider-gi-name{
    font-size: 16px;
    white-space: normal;
  }
  .rd{
    margin-top: 35px;
  }
  .slider-game-info p{
    font-size: 12px;
  }
  .game-genre span{
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .gn-li{
    font-size: 8px;
  }
  .ab-g-name{
    font-size: 18px;
  }
  .game-info p{
    font-size: 10px;
  }
  .play-button{
    padding: 7px 25px; 
  }
  .fr-info-imgs img{
    height: 50px;
  }
  .st-li{
    padding: 3px 9px;
  }
  .search-st{
    width: 50px;
  }
  .browse-store{
    left: 2%;
  }
  .sf-item h6{
    font-size: 13px;
  }
  .game-nav{
    height: 30px;
  }
}